.navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.navbar ul{
    margin: 0;
    padding-left: 0;
    display: flex;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li:last-child{
    margin-right: 0;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: darkgrey;
    border: 1px solid yellow;
    padding: 8px 16px;
    color: azure;
}

.navbar ul li a:hover{
    background-color: aquamarine;
    color: cadetblue;
    border: 1px solid black;
}


.wrapper{
    display: flex;
    justify-content: center;
}

.wrapper .first {
    background-color: cadetblue;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-right: 20px;
    border: 2px solid yellow;
    border-radius: 50%;
}

.wrapper .second {
    background-color: tomato;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-left: 20px;
    text-align: center;
    border: 2px solid yellow;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 35px;
    transform: rotate(50deg);
}

.wrapper .second span{
    transform: rotate(-50deg);
}